<div class="container">
  <h2>Send me a Message</h2>
  <form>
    <div class="form-group row">
      <label for="nameInput" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="nameInput" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control form-control-sm" id="emailInput" placeholder="you@example.com">
      </div>
    </div>

    <div class="form-group row">
      <label for="messageInput" class="col-sm-2 col-form-label col-form-label-sm">Message</label>
      <div class="col-sm-10">
        <input type="textarea" class="form-control form-control-sm" id="messageInput" placeholder="Your Message....">
      </div>
    </div>

    <button class="btn btn-primary" type="submit" value="Send">Send</button>
  </form>
</div>