<div class="main-wrapper">
  <div class="row">
      <h4>{{project.title}}</h4>
      <h5>{{project.toolsUsed}}</h5>
  </div>
  <div class="row-tile">
    <div *ngIf="side==='left'">
      <img [src]="project.srcUrl">
    </div>
    <div>
      <p class="content">{{project.description}}</p>
    </div>
    <div *ngIf="side==='right'">
      <img [src]="project.srcUrl">
    </div>
  </div>
  <div class="row">
    <button name="viewMore" class="btn btn-primary" (click)="viewMore('project.id')">View More</button>
  </div>
</div>
