<carousel [interval]="0">
  <slide>
      <img src="../../assets/welcomeRender1.png" alt="BG 1">
      <div class="carousel-caption">
        <h3>I am Sriram</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
  </slide>
  <slide>
      <img src="../../assets/cool-background.jpg" alt="BG 2">
  </slide>
  <slide>
      <img src="../../assets/cool-background.jpg" alt="BG 3">
  </slide>
</carousel>

<div class="container">
    <h3>Project Highlights</h3>
    <project-tile side='left' src=''></project-tile>
    <project-tile side='right' src=''></project-tile>
</div>