      <img src="../../assets/welcomeRender2.png" alt="BG 1">
      <div class="carousel-caption">
        <h3>I am Sriram</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>

<!--<div class="container">
    <h3>Project Highlights</h3>
    <carousel [interval]="0">
    <slide>
        <project-tile side='left' src=''></project-tile>
    </slide>
    <slide>
        <project-tile side='right' src=''></project-tile>
    </slide>
    </carousel>
</div>-->

<app-portfolio></app-portfolio>