
<div class="headerImgs">
    <img (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave()" class="imgBase" src="../../assets/welcomeRenderBase.jpg" alt="BG 1">
    <img *ngIf="showImg" class="imgText" src="../../assets/welcomeRenderIntroText.png" alt="BG 1">
</div>

<!--<div class="container">
    <h3>Project Highlights</h3>
    <carousel [interval]="0">
    <slide>
        <project-tile side='left' src=''></project-tile>
    </slide>
    <slide>
        <project-tile side='right' src=''></project-tile>
    </slide>
    </carousel>
</div>-->

<!--<app-portfolio></app-portfolio>-->